p{
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr minmax(640px, 1080px) 1fr;
}

.art-styles{
  max-width: 480px;
}

.logo-image{
  position: fixed;
  grid-column: 1/span 1;
  height: 8rem;
  margin: 1.5rem;
  z-index: 10;
}

.body-content{
  grid-column: 2/span 1;
}

.nav-bar{
  list-style: none;
  padding: 0;
  margin: 0;

  display: inline-flex;
  justify-content: flex-end;
  margin-right: -1.5em;
}

.nav-bar li{
  padding: 1.5em;
  text-decoration: none;
  color: inherit;
}

.link{
  text-decoration: none;
  color: inherit;
}

.art-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-template-rows: flow;
}

.art-box{
  margin: 0.5em;
  border: 3px solid black;
}

.art-box img{
  width: 100%;
  overflow: hidden;
  border-bottom: 3px solid black;
}

.art-box .art-text{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.art-box:hover{
  background-color: lightgrey;
}

.art-text p{
  display: block;
  color: black;
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

a{
  text-decoration: none;
}

.background-image{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./background.png');
  background-size: cover;
  z-index: -1;
}

.background-image h1{
  margin-top: 24vh;
  font-size: 4em;
  color: white;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.background-image .filter-form{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 2rem 2rem 2rem 2rem
}
